/* .head-icon {
  border-radius: 50%;
} */

body {
  background: #1f1f1f;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.input-box {
  display: flex;

}

input {
  height: 25px;
  width: 480px;
  border: none;
  background-color: #333333;
  color: white;
}

.search-box {
  display: flex;
  background-color: #333333;
  border: none;
  border-radius: 50px;
  height: 50px;
  width: 650px;
  align-items: center;
  justify-content: center;
  margin-left: -300px;
}

.search-box i, img {
  padding-left: 20px;
}

.microphone {
  height: 30px;
}

.fa-magnifying-glass {
  padding-right: 20px;
}

.header-icons {
  display: flex;
  align-items: center;

}

.fa-ellipsis {
  padding-left: 20px;
}

.profile-pic {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
  padding-right: 20px;
}

.nav-bar nav ul {
  display: flex;
  padding-top: 20px;
}

li {
  list-style-type: none;
  color: rgb(166, 166, 166);
  padding-right: 25px;
}

.all-button {
  color: white;
  font-weight: bold;
}

.ellipsis {
  padding-right: 5px;
  padding-left: 30px;
}

.tools {
  padding-left: 150px;
}

hr {
  border-width: .5px;
  border-color: rgb(99, 99, 99);
}
